<p><a href="/#/projects">Projects</a> / Inception</p>
<h2>Inception</h2>
<nav>
	<a class="button button-primary">
    Save
  </a>
</nav>
<h3>Approximate Vision</h3>
<app-tinymce id="approximateVision"></app-tinymce>
<h3>Business Case</h3>
<app-tinymce id="businessCase"></app-tinymce>
<h3>Scope</h3>
<app-tinymce id="scope"></app-tinymce>
<h3>Vague Estimates</h3>
<app-tinymce id="vagueEstimates"></app-tinymce>
<h3>Glossary</h3>
<app-tinymce id="glossary"></app-tinymce>
<h3>Risk List</h3>
<app-tinymce id="riskList"></app-tinymce>
<h3>Iteration Plan</h3>
<app-tinymce id="iterationPlan"></app-tinymce>
<nav>
	<a class="button button-primary">
    Save
  </a>
</nav>