<div style="float:right"><a href="/#/about">About</a></div>
<h1>
  Unified.Process
</h1>

<nav>

	<a class="button button-primary" [routerLink]="['/projects']">
    Projects
  </a>
    
	<a class="button button-primary" [routerLink]="['/inception']">
    Inception
  </a>
    
	<a class="button button-primary" [routerLink]="['/elaboration']">
    Elaboration
  </a>
    
	<a class="button button-primary" [routerLink]="['/construction']">
    Construction
  </a>
    
	<a class="button button-primary" [routerLink]="['/transition']">
    Transition
  </a>

</nav>

<main>
	<router-outlet></router-outlet>
</main>

<footer>
  Unified.Process Version 1.0.1 - © 2017 Marshal Paterson - MIT
</footer>
