<p><a href="/#/projects">Projects</a> / <a href="/#/inception">Inception</a> / <a href="/#/elaboration">Elaboration</a> / Construction</p>
<h2>Construction</h2>
<nav>
	<a class="button button-primary">
    Save
  </a>
</nav>
<h3>Implementation</h3>
<app-tinymce id="implementation"></app-tinymce>
<h3>Low Risk</h3>
<app-tinymce id="lowRisk"></app-tinymce>
<h3>Prepare for Deployment</h3>
<app-tinymce id="prepareForDeployment"></app-tinymce>
<h3>Project Location</h3>
<app-tinymce id="projectLocation"></app-tinymce>
<nav>
	<a class="button button-primary">
    Save
  </a>
</nav>

