<p><a href="/#/projects">Projects</a> / <a href="/#/inception">Inception</a> / Elaboration</p>
<h2>Elaboration</h2>
<nav>
	<a class="button button-primary saveBtn">
    Save
  </a>
</nav>
<h3>Refined Vision</h3>
<app-tinymce id="refinedVision"></app-tinymce>
<h3>Core Architecture</h3>
<app-tinymce  id="coreArchitecture"></app-tinymce>
<h3>Resolution of High Risk</h3>
<app-tinymce id="resHighRisk"></app-tinymce>
<h3>Identification of Requirements and Scope</h3>
<app-tinymce id="identReqScope"></app-tinymce>
<h3>Realistic Estimates</h3>
<app-tinymce id="realisticEstimates"></app-tinymce>
<nav>
	<a class="button button-primary">
    Save
  </a>
</nav>